PORT=3000
TOP_SERVEURS_TOKEN=
STEAM_API_KEY=
SESSION_SECRET=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_REDIRECT_URI=
SITE_URL=
