PORT=3000
SITE_URL=http://213.32.88.222

STEAM_API_KEY=REMPLACER_PAR_LA_CLE_STEAM
SESSION_SECRET=REMPLACER_PAR_UN_SECRET_LONG_ET_ALEATOIRE

# Serveur DayZ Senzany
DAYZ_SERVER_IP=208.115.196.109
DAYZ_GAME_PORT=2302
DAYZ_QUERY_PORT=2305
DAYZ_MAX_PLAYERS=50

DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

SUPABASE_URL=
SUPABASE_SECRET_KEY=
